<div class="container">
    <h4 class="title-page title-margin">{{ 'addCita.title' | translate}}</h4>
    <form [formGroup]="addCitaForm">
        <mat-form-field class="example-full-width select-patient" [ngClass]="{'hideMatForm': hideMatFormField}">
            <mat-label>{{ 'addCita.namePatient' | translate}}</mat-label>
            <input matInput aria-label="State" [matAutocomplete]="auto" formControlName="paciente">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let patient of patients" [value]="patient.cip">
                <span>{{patient.name}}</span> |
                <small>CIP : {{patient.cip}}</small>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <h4 class="title-page title-margin">{{ 'addCita.calendar' | translate }}</h4>
        <mat-form-field [ngClass]="{'hideMatForm': hideMatFormField}">
            <mat-label>{{ 'addCita.start_date' | translate}}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateConsulta">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <h4 class="title-page title-margin">{{ 'addCita.hour' | translate }}</h4>
        <div>
            <input class="timeInput border-none" value="{{time}}" (click)="open()" readonly="readonly"/>
        </div>
    </form>
    <div class="center-button">
        <button mat-raised-button class="content-button" (click)="saveCita()">{{ 'add-medicine.save' | translate}}</button>
    </div>
</div>