.title-margin {
    margin-top: 26px;
}

.timeInput{
    width: 28%;
    font-family: 'Arial Rounded MT Bold';
    font-size: 29px;
    margin-right: 20px;
}

.comentario{
    margin-bottom: -8px;
}

.center-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

