.container{
    height: 100%;
}

.title-margin {
    margin-top: 26px;
}

.timeInput{
    width: 28%;
    font-family: 'Arial Rounded MT Bold';
    font-size: 29px;
    margin-right: 20px;
}

.comentario{
    margin-bottom: -8px;
}

.center-button {
    height: 35%;
    display: flex;
    align-items: flex-end;
}

.hideMatForm{
    z-index: -1;
}

.border-none{
    border: none;
}

