<div class="container">
    <div class="title">
        {{ 'medicineList.title' | translate }}
    </div>
    <div class="header">
        <div class="title-name">{{ 'medicineList.header.name' | translate }}</div>
        <div>{{ 'medicineList.header.quantity' | translate }}</div>
    </div>
    <div class="medicamentos" *ngFor="let medicine of medicines; let i = index;">
        <div class="medicine-name">        
            <i class="fas fa-edit edit-icon" (click)="openPopUpQuantity(medicine.idMedicine, i)"></i>
            {{ medicine.name }}
        </div>
        <div class="quantity red" *ngIf="(medicine.quantityDose*2 >= medicine.quantity);else notRed">{{ medicine.quantity }} {{medicine.unityDose}}</div>
        <ng-template class="quantity" #notRed>{{ medicine.quantity }} {{medicine.unityDose}}</ng-template>
    </div>
</div>