<div class="container">
    <div class="title">
        {{ 'medicineList.title' | translate }}
    </div>
    <div class="header">
        <div class="title-name">{{ 'medicineList.header.name' | translate }}</div>
        <div>{{ 'medicineList.header.quantity' | translate }}</div>
    </div>
    <div class="medicamentos" *ngFor="let medicine of medicines; let i = index;">
        <div class="medicine-icons" [ngClass]="{'hideMatForm': hideMatFormField}">
            <i class="fas fa-edit edit-icon" (click)="openPopUpQuantity(medicine.idMedicine, i)"></i>
            <i class="fas fa-trash edit-icon" (click)="deleteRecordatory(medicine.idMedicine, i)"></i>
        </div>
        <div class="medicamentos-content">
            <div class="medicine-name">        
                {{ medicine.name }}
            </div>
            <div class="quantity red" *ngIf="((5 >= medicine.quantity && medicine.unityDose == 'pastillas') || ( 100 >= medicine.quantity && medicine.unityDose == 'ml'));else notRed">{{ medicine.quantity }} {{medicine.unityDose}}</div>
            <ng-template #notRed><div class="quantity">{{ medicine.quantity }} {{medicine.unityDose}}</div></ng-template>
        </div>
    </div>
</div>