.container{
    margin-top: 25px;
}

.title {
    font-family: 'Arial Rounded MT Bold';
    font-size: 23px;
    margin-bottom: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    color: #656161;
}

.medicamentos{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.red{
    color: red;
}
.edit-icon{
    margin-right: 20px;
    font-size: 22px;
}

.title-name{
    margin-left: 47px;
}