<div class="container">
    <h4 class="title-page">{{ 'home.title' | translate }}</h4>
    <h5 class="date">{{actualDate}}</h5>
    {{showRecordatorios.length}}
    <div class="accordion" *ngFor="let recordatory of showRecordatorios; let i=index; let last = last">
        <div *ngIf="recordatory != 'fin'">
            <p class="pill-banner">
                <button class="btn btn-primary" data-toggle="collapse" (click)="openCollapse(i)" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <div class="arrow-img" *ngIf="!collapse[i]">
                        <img src="../../../assets/images/row-bottom.png">
                    </div>
                    <div class="arrow-img" *ngIf="collapse[i]">
                        <img src="../../../assets/images/row-top.png">
                    </div>
                    <div class="text-pill">{{recordatory.hour}}</div>
                </button>
            </p>
            <div [ngClass]="{collapse: !collapse[i]}">
                <div class="card card-body">
                        <div class="content-card">
                            <div class="checkbox" *ngIf="recordatory.take">
                                <mat-checkbox class="checkbox-input" (change)="takeMedicine(recordatory.idHistoric, recordatory.recordatoryHist, $event.checked)" [(ngModel)]="recordatory.recordatoryHist.take"></mat-checkbox>
                            </div>
                            <div class="name-dosy">
                                <div class="medicine" *ngIf="take[recordatory.idHistoric] != undefined" [ngClass]="{'green': take[recordatory.idHistoric], 'red': !take[recordatory.idHistoric]}">{{medicinesArray[recordatory.idMedicine].name}}</div>
                                <div class="medicine" *ngIf="take[recordatory.idHistoric] == undefined">{{medicinesArray[recordatory.idMedicine].name}}</div>
                                <div *ngIf="medicine.unityDose == 'ml'; else unityPills">{{ 'home.takeMl' | translate: {'quantityDose': recordatory.quantityDose } }}</div>
                                <ng-template #unityPills>{{ 'home.takePills' | translate: {'quantityDose': recordatory.quantityDose} }}</ng-template>
                            </div>
                        </div>
                        <div class="actions-button" *ngIf="!recordatory.historic">
                            <i class="fas fa-edit" [routerLink]="['/editMedicine', recordatory.id]"></i>
                            <i class="fas fa-trash" (click)="deleteRecordatory(recordatory.id, recordatory.idMedicine)"></i>
                        </div>
                </div>
            </div>
            <div class="separation-banner">&nbsp;</div>
        </div>
        <div *ngIf="recordatory == 'fin'">dentro {{closeModalReload()}}</div>
    </div>
</div>


  