.container{
    margin-top: 25px;
}

.content-card{
    display: flex;
    .checkbox{
        display: flex;
        justify-content: center;
        align-items: center;
        .checkbox-input{
            width: 18px;
            height: 18px;
        }
    }
    .name-dosy{
        margin-left: 25px;
    }
}

.red{
    color: #ff0000;
}

.green{
    color: #418107;
}

.redButton{
    background-color: #ff0000;
}
.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #0062cc !important;
    border-color: #005cbf !important;
}
.greenButton{
    background-color: #418107;
}

.colorLetterBtn{
    color: #fff;
}

.pill-banner {
    margin-bottom: 0px;
    button {
        width: 100%;
        font-family: 'Arial';
        font-size: 29px;
        .arrow-img {
            float: left;
            text-align: left;
        }
        .text-pill {
            margin: 0 auto;
            width: 90px;
        }
    }
}

.card {
    display: block;
}

.card-body {
    padding: 12px 25px;
    .actions-button{
        position: absolute;
        top: 25px;
        right: 17px;
        i{
            padding: 0 5px;
            font-size: 22px;
        }
    }
}

.img-reminder {
    width: 27px;
    float: left;
    margin-right: 25px;
}
.medicine {
    font-weight: bold;
}

.separation-banner {
    height: 20px;
}

.table{
    thead{
        th{
            text-align: center;
        }
    }
}

.date{
    margin-bottom: 20px;
}