<div class="container">
    <h4 class="title-page">Medicamentos a tomar</h4>
    <h5 class="date">{{actualDate}}</h5>
    <div class="accordion" *ngFor="let recordatory of showRecordatorios; let i=index;">
        <p class="pill-banner">
            <button class="btn btn-primary" data-toggle="collapse" (click)="openCollapse(i)" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="arrow-img">
                        <img src="../../../assets/images/row-bottom.png">
                </div>
                <div class="text-pill">{{recordatory.hour}}</div>
            </button>
        </p>
        <div [ngClass]="{collapse: !collapse[i]}">
            <div class="card card-body">
                    <div class="content-card">
                        <img src="../../../assets/images/Pastillas_iconos/capsula_rojo_blanco.png" class="img-reminder">
                        <div class="medicine">{{medicinesArray[recordatory.idMedicine].name}}</div>
                        <div *ngIf="medicine.unityDose == 'ml'; else unityPills">{{ 'home.takeMl' | translate: {'quantityDose': medicine.quantityDose} }}</div>
                        <ng-template #unityPills>{{ 'home.takePills' | translate: {'quantityDose': medicine.quantityDose} }}</ng-template>
                    </div>
                    <div class="actions-button">
                        <i class="fas fa-edit" [routerLink]="['/editMedicine', recordatory.id]"></i>
                        <i class="fas fa-trash" (click)="deleteRecordatory(recordatory.id, recordatory.idMedicine)"></i>
                    </div>
            </div>
        </div>
        <div class="separation-banner">&nbsp;</div>
    </div>
</div>

  <div>
    <a mat-fab class="add-btn" [routerLink]="['/addMedicine']"><img src="../../../assets/images/add.png" class="add-img"></a>
  </div>