.title-margin {
    margin-top: 26px;
}

.mat-form-field {
    width: 78%;
}

.title-duration {
    font-family: 'Roboto';
    font-size: 21px;
    width: 100%;
}

.radio-button {
    width: 100%;
    font-family: 'Roboto';
    font-size: 14px;
}

.daysWeek{
    width: 35%;
}

.quantityForm{
    height: 40px;
    padding-top: 4px;
}


.quantityDose{
    width: 10%;
    margin-right: 20px;
}

.flex{
    display: flex;
    .quantityMedicament{
    width: 20% !important;
    }
    .unityDose{
        align-self: flex-end;
        margin-bottom: 18px;
    }  
    .plus-icon{
        margin-top: 23px;
        margin-left: 10px;
    }      
}

.selectUnity{
    width: 40%;
}

.subTitle{
    font-family: 'Roboto';
    color: grey;
}

.timeInput{
    width: 28%;
    font-family: 'Arial Rounded MT Bold';
    font-size: 29px;
    margin-right: 20px;
}

.quantityInput{
    width: 45%;
}

.center-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
