.display-none {
    display: none;
}
html { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.sign-in {
    .mat-form-field-infix {
        width: 250px !important;
    }
}

@font-face {
    font-family: 'Housemate';
    src: url(assets/fonts/Housemate.ttf) format("opentype");
}

@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url(assets/fonts/arial_rounded_mt_bold.ttf) format("opentype");
}