.bg-blue {
    background-color: #0788FF;
    a {
        color: #FFF;
    }
}

.navbar-toggler {
    border-style: none !important;   
    height: 49px;
}

.navbar-toggler:focus{
    outline: none;
}

.img-navbar {
    width: 27px;
    height: 26px;
    background-image: url("../../../assets/images/lines_navbar.png") !important; 
}

.navbar {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 2px;
    height: 50px;
    li {
        a{
            color: #000;
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}

.navbar-brand {
    position: absolute;
    left: 60px;
    top: 6px;
    color: #fff !important;
}

.navbar-collapse {
    background-color: #fff;
    z-index: 1;
}