<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-blue">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="classShow()" >
      <span class="navbar-toggler-icon img-navbar"></span>
    </button>
    <div class="navbar-brand">PillApp</div>
    <div *ngIf="isHome">
        <mat-form-field class="example-full-width" style="visibility: hidden;">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date" (ngModelChange)="changeDateSelected($event)">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <img src="../../../assets/images/calendar_icon.png" class="calendar-icon" (click)="picker.open()">
    </div>

  <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass]="{ show: show }">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <ng-container *ngIf="typeUser == 'patient'">
            <a class="nav-link" (click)="classShow()"  [routerLink]="['home']">{{ 'navbar.home' | translate}}<span class="sr-only">(current)</span></a>
        </ng-container>
        <ng-container *ngIf="typeUser == 'doctor'">
            <a class="nav-link" (click)="classShow()" [routerLink]="['homeDoctor']">{{ 'navbar.home' | translate}}<span class="sr-only">(current)</span></a>
        </ng-container>      
      </li>
      <li class="nav-item">
        <ng-container *ngIf="typeUser == 'patient'">
            <a class="nav-link" (click)="classShow()"  [routerLink]="['listaMedicamentos']">{{ 'navbar.medicine_list' | translate}}</a>
        </ng-container>
        <ng-container *ngIf="typeUser == 'doctor'">
          <a class="nav-link" (click)="classShow()"  [routerLink]="['citasDoctor']">{{ 'navbar.add_date' | translate}}</a>
        </ng-container>
      </li>
      <li class="nav-item">
          <ng-container *ngIf="typeUser == 'patient'">
            <a class="nav-link" (click)="classShow()"  [routerLink]="['citas']">{{ 'navbar.meetings' | translate}}</a>
          </ng-container>
      </li>
      <li class="nav-item">
          <ng-container *ngIf="typeUser == 'patient'">
            <a class="nav-link" (click)="classShow()"  [routerLink]="['farmacias']">{{ 'navbar.pharmacy' | translate}}</a>
          </ng-container>
          <ng-container *ngIf="typeUser == 'doctor'">
            <a class="nav-link" (click)="classShow()"  [routerLink]="['buscarInforme']">{{ 'navbar.search_report' | translate}}</a>
          </ng-container>
      </li>
      <li class="nav-item">
        <ng-container *ngIf="typeUser == 'patient'">
          <a class="nav-link" (click)="classShow()"  [routerLink]="['informe']">{{ 'navbar.report' | translate}}</a>
        </ng-container>   
        <ng-container *ngIf="typeUser == 'doctor'">
          <a class="nav-link" (click)="classShow()"  [routerLink]="['addPatient']">{{ 'navbar.add_patient' | translate}}</a>
        </ng-container>     
      </li>
      <li class="nav-item">
        <ng-container>
          <a class="nav-link" (click)="classShow()"  [routerLink]="['editUser', idUser]">{{ 'navbar.edit_user' | translate}}</a>
        </ng-container>       
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout(); classShow()">{{ 'navbar.logout' | translate}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="add-medicine" *ngIf="showAddMedicine">
  <a mat-fab class="add-btn" (click)="closeMenu()" [routerLink]="['/addMedicine']"><img src="../../../assets/images/add.png" class="add-img"></a>
</div>