<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-blue">
  <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon img-navbar"></span>
    </button>
    <a class="navbar-brand" href="#">PillApp</a>
  </div>  
  

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['listaMedicamentos']">Lista de medicamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['citas']">Citas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['farmacias']">Farmacias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['informe']">Informe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>