.bg-blue {
    background-color: #0788FF;
    a {
        color: #FFF;
    }
}

.navbar-toggler {
    border-style: none !important;   
    height: 49px;
}


.img-navbar {
    width: 27px;
    height: 26px;
    background-image: url("../../../assets/images/lines_navbar.png") !important; 
}

.navbar {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 2px;
    height: 51px;
    li {
        a{
            color: #000;
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}

.mat-fab{
    background-color: #0788FF;
}

.add-btn{
    position: fixed;
    right: 21px;
    bottom: 16px;
    z-index: 5;
}

.add-img{
    position: absolute;
    top: 10px;
    left: 10px;
}

.navbar-brand {
    position: absolute;
    left: 60px;
    top: 6px;
    color: #fff !important;
}

.navbar-collapse {
    background-color: #fff;
    z-index: 1;
}

.calendar-icon{
    position: absolute;
    top: 7px;
    right: 9px;
}
.ng-star-inserted{
    height: 46px;
    position: absolute;
    top: 1px;
    right: 11px;
}

.nav-link{
    position: inherit;
}