<div class="container">
    <div class="title">
        {{ 'dateDetails.title' | translate }}
    </div>
    <div class="infoDate">
        <div class="parameterDate">
            <p>{{ 'dateDetails.nameDoctor' | translate }}</p>
            <p>{{ nameDoctor }}</p>
        </div>
        <div class="parameterDate">
            <p>{{ 'dateDetails.specialityDoctor' | translate }}</p>
            <p>{{ speciality }}</p>
        </div>
        <div class="parameterDate">
            <p>{{ 'dateDetails.plant' | translate }}</p>
            <p>Planta {{ plant }}</p>
        </div>
        <div class="parameterDate">
            <p>{{ 'dateDetails.door' | translate }}</p>
            <p>Puerta {{ door }}</p>
        </div>
        <div class="parameterDate">
            <p>{{ 'dateDetails.ubication' | translate }}</p>
            <p>{{ ubication }}</p>
        </div>
        <div class="parameterDate">
            <p>{{ 'dateDetails.street' | translate }}</p>
            <p>{{ street }}</p>
        </div>
        <div class="parameterDate">
            <p>{{ 'dateDetails.location' | translate }}</p>
            <p>{{ locality }}</p>
        </div>
        <div class="parameterDate">
            <p>{{ 'dateDetails.province' | translate }}</p>
            <p>{{ province }}</p>
        </div>
        <div class="parameterDate">
            <p>{{ 'dateDetails.postalCode' | translate }}</p>
            <p>{{ postalCode }}</p>
        </div>
    </div>
</div>