.container{
    margin-top: 25px;
}

.header-progress{
    background-color: #F97F00;
    color: #fff;
    padding: 21px 16px;
    font-size: 20px;
}

.date{
    font-family: 'Arial Rounded MT Bold'; 
    font-size: 20px;
    color: #0788FF;
    margin-bottom: 9px;
}

.recordatory {
    display: flex;
    margin-bottom: 10px;
    i{
        margin-left: 5px;
        font-size: 24px;
    }
}

.medicineName{
    width: 60%;
}

.takeReportYes{
    color: green;
    margin-right: 8px;
}

.takeReportNot{
    color: Red;
    margin-right: 8px;
}

.flex-recordatory{
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.flex-info{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.doseAlign{
    display: flex;
    width: 70px;
    justify-content: flex-end;
}