.title-margin {
    margin-top: 26px;
}

.content-button{
    display: flex;
    margin: 0 auto;
    width: auto;
    margin-top: 355px;
}

.container{
    margin-top: 25px;
}

.header-progress{
    background-color: #F97F00;
    color: #fff;
    padding: 21px 16px;
    font-size: 20px;
}

.date{
    font-family: 'Arial Rounded MT Bold'; 
    font-size: 20px;
    color: #0788FF;
    margin-bottom: 9px;
}

.recordatory {
    display: flex;
    margin-bottom: 10px;
    i{
        margin-left: 5px;
        font-size: 24px;
    }
}

.hideMatForm{
    z-index: -1;
}

.medicineNmae{
    font-size: 20px;
}

.takeReportYes{
    color: green;
    margin-right: 8px;
}

.takeReportNot{
    color: Red;
    margin-right: 8px;
}