<div *ngIf="!showInform" class="show-inform">
    <div class="container">
        <h4 class="title-page title-margin">{{ 'search-informe.title' | translate}}</h4>
        <form [formGroup]="searchInforme">
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'search-informe.name' | translate}}</mat-label>
                <input matInput formControlName="namePatient" #name (keyup)="getCipsPatient(name.value, surname.value)">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'search-informe.surname' | translate}}</mat-label>
                <input matInput formControlName="surnamePatient" #surname (keyup)="getCipsPatient(name.value, surname.value)">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{ 'search-informe.cip' | translate}}</mat-label>
                <input matInput [matAutocomplete]="auto" formControlName="cipPatient">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let cip of cips" [value]="cip">
                        <span>{{cip}}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <div class="align-button">
            <button mat-raised-button class="content-button" (click)="searchInform()"><span>{{ 'search-informe.searchInforme' | translate}}</span></button>
        </div>
    </div>
</div>
<div *ngIf="showInform" class="show-inform">
    <div class="header-progress">
        {{ 'report.semanalProgress' | translate }}
        <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="percent + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{percent/100 | percent: '2.1-2'}}</div>
        </div>
    </div>
    <div class="container">
        <div class="title-page">
            {{'report.pacientInform' | translate }}
        </div> 
        <div class="content">
            <div *ngFor="let day of days">
                <div *ngFor="let recordatory of day; let i = index">
                    <div *ngIf="i == 0" class="date">{{recordatory.fecha}}</div>
                    <div class="recordatory">
                        <div *ngIf="recordatory.take" class="takeReportYes"><i class="fas fa-check-circle"></i></div>
                        <div *ngIf="!recordatory.take" class="takeReportNot"><i class="fas fa-times-circle"></i></div>
                        <div class="medicineName">{{recordatory.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
