@import "../../../variables.scss";
.title {
    font-family: 'Housemate';
    color: #0788FF;
    font-size: 56px;
    width: 130px;
    margin: 0 auto; 
    margin-top: 124px;
    margin-bottom: 25px;
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-sign-in {
    color: #0788FF;
    font-family: 'Arial Unicode MS';
    font-size: 16px;
}

.center-button{
    margin-top: 20px;
}

.labels-sign-in{
    width: 63%;
    max-width: 252px;
    .mat-form-field{
        width: 100%;
    }
}



.not-count-text {
    font-family: 'Arial Unicode MS';
    font-size: 16px;
}
.center-sign-up {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span {
        @media screen and (min-width: $mobileSize) {
            padding: 0px;
        }
    }
    a{
        @media screen and (min-width: $mobileSize) {
            padding: 0 21px;
        }
    }
}