<div class="title">
    PillApp
</div>
<div class="sign-in"> 
    <form [formGroup]="signInForm" class="sign-in-form">
        <mat-form-field>
            <input matInput placeholder="Nombre de usuario" formControlName="userName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Contraseña" formControlName="password" type="password">
        </mat-form-field>
        <br>
        <a class="link-sign-in" href="#">{{ 'sign.in.password_remember' | translate}}</a>
    </form>
</div> 
<div class="center-button">
    <button mat-raised-button class="sign-in-button" (click)="signIn()">{{ 'sign.in.button' | translate}}</button>
</div>
<div class="center-sign-up">
    <span class="not-count-text">{{ 'sign.up.text' | translate}}</span>
    <a class="link-sign-in" routerLink="/register">{{ 'sign.up.link' | translate}}</a>
</div>

{{users}}

