<div class="title">
    PillApp
</div>
<div class="sign-in"> 
    <mat-form-field>
        <input matInput placeholder="Nombre de usuario">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Contraseña">
    </mat-form-field>
    <br>
    <a class="link-sign-in" href="#">¿Olvidó la contraseña?</a>
</div>
<div class="center-button">
    <button mat-raised-button class="sign-in-button">Iniciar sesión</button>
</div>
<div class="center-sign-up">
    <span class="not-count-text">¿No tienes cuenta?</span>
    <a class="link-sign-in" href="#">Crear cuenta</a>
</div>

