@import "../../../variables.scss";
.title {
    font-family: 'Housemate';
    color: #0788FF;
    font-size: 56px;
    width: 130px;
    margin: 0 auto; 
    margin-top: 124px;
    margin-bottom: 25px;
}

.sign-in {
    margin-left: 42px;
}

.link-sign-in {
    color: #0788FF;
    font-family: 'Arial Unicode MS';
    font-size: 16px;
}
.sign-in-form {
    @media screen and (min-width: $mobileSize) {
        width: 252px;
        margin: 0 auto;
    }
}
.center-button{
    margin-top: 20px;
}



.not-count-text {
    font-family: 'Arial Unicode MS';
    font-size: 16px;
}
.center-sign-up {
    margin-top: 33px;
    span {
        padding: 0 109px;
        @media screen and (min-width: $mobileSize) {
            padding: 0px;
        }
    }
    a{
        padding: 0 132px;
        @media screen and (min-width: $mobileSize) {
            padding: 0 21px;
        }
    }
    @media screen and (min-width: $mobileSize) {
        width: 141px;
        margin: 0 auto;
    }
}