.title {
    font-family: 'Housemate';
    color: #0788FF;
    font-size: 56px;
    width: 130px;
    margin: 0 auto; 
    margin-top: 124px;
    margin-bottom: 25px;
}

.sign-in {
    margin-left: 42px;
}

.link-sign-in {
    color: #0788FF;
    font-family: 'Arial Unicode MS';
    font-size: 16px;
}

.sign-in-button {
    background-color: #0788FF;
    color: #fff;
    font-family: 'Arial Rounded MT Bold';
    font-size: 23px;
    padding-left: 46px;
    padding-right: 46px;
    width: 244px;
    padding: 0 58px;
    margin-top: 30px;
}
.center-button {
    width: 244px;
    margin: 0 auto;
}
.not-count-text {
    font-family: 'Arial Unicode MS';
    font-size: 16px;
}
.center-sign-up {
    margin-top: 33px;
    span {
        padding: 0 109px;
    }
    a{
        padding: 0 132px;
    }
}