.title-margin {
    margin-top: 26px;
}

.flex{
    display: flex;
}

.nameInput{
    width: 284px;
}

.quantityInput{
    width: 210px;
    margin-right: 20px;
}

.doseInput{
    width: 100px;
}

.center-button{
    margin-top: 260px;
}

.unityDose{
    margin-top: 24px;
}